*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(7, 7, 29);
}



input{
    height: 90px;
    width: 305px;
    justify-content: center;
    background: transparent;
    align-items: center;
    color: white;
    font-size: 40px;
    outline: none;
    margin-left: 40%;
    margin-top: 80px;
    border-radius: 10px;
    text-align: right;
    padding: 10px;
    background-color: crimson;
}

div {
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    
}

button{
    width: 70px;
    height: 70px;
    margin: 2px;
    border-radius: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: chartreuse;
}

